body{font-family: 'Abril Fatface', cursive;
    
}

h1{font-size: 50px;margin-left: 20px;}
h4{font-size: 20px; margin-top: 25px;}
span{color: rgb(230, 79, 9);}
p{ font-size: 20px;}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(2, 118, 139), rgb(50, 243, 82));
    padding: 15px 20px;
    color: wheat;
    font-weight: 800;
    border-radius: 5px;
    font-size: 18px;
    
}
section{
    display: flex;
}
.half-width{
    width: 50%;margin: 52px;
    padding: 1%;
}
.half-width img{
    width: 80%;
}