body{font-family: 'Abril Fatface', cursive;
    
}
.self-text{
    font-size: 28px;
}

h1{font-size: 50px;margin-left: 20px;}
h4{font-size: 20px; margin-top: 25px;}
span{color: rgb(230, 79, 9);}
p{ font-size: 20px;}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(2, 118, 139), rgb(50, 243, 82));
    padding: 15px 20px;
    color: wheat;
    font-weight: 800;
    border-radius: 5px;
    font-size: 18px;
    
}
.flex{
    display: flex;
}
.half-width{
    width: 50%;margin: 52px;
    padding: 1%;
}
.half-width img{
    width: 80%;
}
.shadow{
    box-shadow: 20px 15px 50px rgb(51, 51, 0);
}
.text-shadow{
    text-shadow: 2px 1px 10px rgb(77, 3, 46);
}
.text{
    font-size: 15px;
}
#border-cod{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(22, 108, 246),rgb(65, 104, 42));
    border-image-slice: 1;
}
#contact{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(5, 71, 57),rgb(150, 246, 95));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}